body {
    background-color: lightgrey;
}

h1 {
    background-color: #fff7f0;
    font-family: 'Space Grotesk';
    padding: 20px;
}

h2 {
    background-color: #fff7f0;
    font-family: 'Space Grotesk';
    padding: 10px;
}

p {
    font-size: 17px;
    font-weight: 100;
    font-family: 'Space Grotesk';
    line-height: 20px;
}

.page {
    width: 1050px;
    height: 3150px;
    background-color: #FDFBF9;
    justify-content: center;
    display: flex;
    margin: auto;
}

.title {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

.content {
    width: 1000px;
    background-color: #FDFBF9;
}

