body {
    background-color: lightgrey;
}

h1 {
    background-color: #fff7f0;
    font-family: 'Space Grotesk';
    padding: 20px;
}

h2 {
    background-color: #fff7f0;
    font-family: 'Space Grotesk';
    padding: 10px;
}

p {
    font-size: 15px;
    font-weight: 100;
    font-family: 'Space Grotesk';
    line-height: 20px;
}

.page {
    width: 1050px;
    height: 3200px;
    background-color: #FDFBF9;
    justify-content: center;
    display: flex;
    margin: auto;
}

.title {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

.content {
    width: 1000px;
    background-color: #FDFBF9;
}

.coal {
    color: #4c78a8;
    font-weight: bold;
}

.oil {
    color: #f2cf5b;
    font-weight: bold;
}

.gas {
    color: #a583cc;
    font-weight: bold;
}

.renewables {
    color: #a1d99b;
    font-weight: bold;
}

.additional {
    color: #87d4de;
    font-weight: bold;
}

.baseline {
    color: #6be36b;
    font-weight: bold;
}