body {
    background-color: lightgrey;
}

p {
    font-size: 15px;
    font-weight: 100;
    line-height: 20px;
}

.page {
    width: 1050px;
    height: 2270px;
    background-color: white;
    justify-content: center;
    display: flex;
    margin: auto;
}

.title {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.content {
    width: 1000px;
    background-color: white;
}

